<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.yoshino.meat_p.MeatMapper">
    <select id="findByKeyWord" resultType="jp.co.yoshino.meat_p.domain.Meat">
    	SELECT * FROM meat WHERE e_name like #{key} OR j_name like #{key}
    </select>
    <select id="findByLivestockAndPartId" resultType="jp.co.yoshino.meat_p.domain.Meat">
        SELECT * FROM meat 
        <where>
        	<if test="livestock != null">
        		livestock= #{livestock} 
        	</if>
        	<if test="partId != null">
        		AND part_id= #{partId}
        	</if>
        </where>
    </select>
</mapper>