@charset "UTF-8";

 body{
 	font-family: cursive;
 	color: #db7093;
 	background-color: #fffacd;
 	}
 
 .header{
 	display: box;
 	width: 40%;
 	height: 50px;
 }
 
 .container{
 	display: block;
 	margin: 0 5%;
 	text-align: center;
 }
 
 h2{
 	color: #ff7f50;
 	background-color: #eee8aa;
 	margin-top: 0;
 	letter-spacing: 3px;
 }
 
 h3{
 	color: #8b0000;
 }
 .title-img{
 	margin-left:0;
 }
 
 .said-menu{
 	width: 20%;
 	height: 530px;
 	border: solid #e6dca1 3px;
 	background-color: #ffffe0;
 	margin-left: 0;
 	float: left;
 	text-align: center;
 }
 
 .main{
 	width: 60%;
 	float: left;
 	height: 530px;
 	margin-left: 10px;
 	text-align: center;
 }
 .illust-map-group{
 	display: box;
 }
 
.livestock-button{
	height: 200px;
	width: auto;
}

.map-box{
	position: relative;
	height: 55%;
	background-color: #2f4f4f;
	color: rgba(255,255,255,0.6);
	font-size: 30px;
	font-family: cursive, "游ゴシック", sans-serif;
}

#part-headline{
	width: 100%;
	height: auto;
}
#result-box{
	background-color: blurywood;
	height: auto;
}

#return{
	height: 80%;
	width: auto;
	cursor: pointer;
}

#return-button{
	height: 50px;
}

